# Flutter/Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock
**/*.g.dart
**/*.freezed.dart

# Supabase
supabase/.temp/
supabase/functions/.env

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
